@model IEnumerable<Cinema>
<link rel="stylesheet" href="~/css/site-ui.css">

    @{
        ViewData["Title"] = "Cinemas List";
    }

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                @await Html.PartialAsync("_CreateItem", "Cinemas")
                <table class="table table-hover text-center align-middle shadow-sm">
                    <thead class="table-dark">
                        <tr>
                            <th>Logo</th>
                            <th>Name</th>
                            <th>Description</th>
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <th class="text-center">Actions</th>
                            }
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <div class="cinema-item text-center">

                                        <input type="hidden" class="cinema-logo" value="@item.Logo" />

                                        <img class="CinemaLogoPreview"
                                             style="display:none;" />

                                    </div>

                                </td>

                                <td class="fw-bold" >
                                    @item.Name
                                </td>

                                <td class="text-muted">
                                    @(item.Description.Length > 60
                                        ? item.Description.Substring(0, 60) + "..."
                                        : item.Description)
                                </td>

                                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                {
                                    <td>
                                        <div class="d-flex justify-content-center gap-2">

                                            <a class="btn btn-outline-primary btn-sm"
                                                   asp-action="Edit" asp-route-id="@item.Id">
                                                <i class="bi bi-pencil-square"></i>
                                            </a>

                                            <a class="btn btn-outline-info btn-sm"
                                                   asp-action="Details" asp-route-id="@item.Id">
                                                <i class="bi bi-eye"></i>
                                            </a>

                                            <a class="btn btn-outline-danger btn-sm"
                                                   asp-action="Delete" asp-route-id="@item.Id">
                                                <i class="bi bi-trash"></i>
                                            </a>

                                        </div>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
@section Scripts {

    <script>

        $(document).ready(function () {

            $(".cinema-item").each(function () {


                const url = $(this).find(".cinema-logo").val();
                const img = $(this).find(".CinemaLogoPreview");

                if (url && url.trim() !== "") {


                    img.attr("src", url);
                    img.css({
                        "width": "200px",
                        "height": "170px",
                        "object-position": "center",
                        "border-radius": "50%",
                        "display": "block",
                        "margin": "0 auto",
                        "border":"4px solid #0dcaf0"
                    });

                } else {
                    img.hide();
                }

            });

        });

    </script>

}